/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

/* ===========================================
      リセットCSS
=========================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}



/* ===========================================
      全体CSS
=========================================== */
body {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#main {
  width: 70%;
  height: 700px;
  margin: 0 auto;
  background-color: rgb(141, 222, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}


/* ===========================================
      タイトルCSS
=========================================== */
#main h1 {
  font-size: 40px;
  padding: 40px 0;
  color: #fff;
}


/* ===========================================
      テキストエリアCSS
=========================================== */


#textarea textarea {
  width: 100%;
  margin: 5px 0;
  font-size: 15px;
  resize: none;
  border: solid 2px #dddddd;
  border-radius: 20px;
}

::placeholder {
  color: gray;
}


/* ===========================================
      インプットエリアCSS
=========================================== */
#input {
  width: 100%;
  text-align: center;
  padding: 20px;
}

#input input {
  width: 37%;
  height: 50px;
  border: solid 2px #dddddd;
  border-radius: 10px;
}

#input button {
  font-size: 18px;
  background-color: rgb(141, 222, 247);
  padding: 5px 15px;
  margin-left: 7px;
  border: solid 3px gray;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

#input button:hover {
  opacity: 0.6;
  color: black;
}


/* ===========================================
      結果表示CSS
=========================================== */
#result {
  width: 75%;
}

h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

#result p {
  width: 100%;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
}